body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

textarea { resize: vertical; }

.mv-hover-pointer:hover {
    cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}



/* Create a Parallax Effect */
.bgimg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-cover {
    min-height: 100%;
}

.bgimg-section {
    min-height: 400px;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg {
    background-attachment: scroll;
    min-height: 400px;
  }
}