/* First image (Logo. Full height) */ /* TODO : image for HOME */
.bgimg-1 {
  background-image: url('../assets/img/P1001912-3.jpg');
}

/* Second image (Work) */ /* TODO : image for work */
.bgimg-2 {
  background-image: url("../assets/img/DSC_0009.jpg");
}

/* Third image (Contact) */ /* TODO : image for contact */
.bgimg-3 {
  background-image: url("../assets/img/P1001918-2.jpg");
}
